#scent{
    font-family: "freight-micro-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21pt;
    width:175px;
    text-align: center;
    letter-spacing: 0.1rem;
    position:absolute;
    left:calc(50% - 87.5px);
    color:white;
    line-height: 1.4rem;
}

#label-container{
    width:100%;
    height: 350px;
    /* background-color: hsl(11, 72%, 51%); */
    position:absolute;
    top:14%;
    /* opacity:20%; */
}

#border{
    width:100%;
    height:auto;
    position:absolute;
    top:5px;
}

#old-spice{
    width:100%;
    height:auto;
}

#boat-container{
    width:100%;
    height:auto;
    position:absolute;
}

#variables{
    width:100%;
    height:auto;
    position:absolute;
}

.boat{
    width:100%;
    height:auto;
    top: -5px;
    position:absolute;
}

#scent-selector{
    margin-top: 20px;
    width:200px;
    left:12.5%;
    position:absolute;
    top:55%;
}

#generator-container{
    width:30vw;
    position:absolute;
    left:35%;
    height:98vh;
}

/* #boat-color{
    width: 300px;
    height: 350px;
    position: absolute;
    left:0px;
    top:0px;
    background-color: hsl(13, 72%, 51%);
    mix-blend-mode: screen;
} */

#title{
    width:100%;
    height:auto;
    position:absolute;
    left:0px;
    top: 0px;
}

#freshness{
    width: 300px;
    height: 350px;
    position: absolute;
    left:0px;
    top:0px;
    background-color: #467ab5;
    display: none;
    /* opacity:100%; */
}

#spiciness{
    width: 300px;
    height: 350px;
    position: absolute;
    left:0px;
    top:0px;
    background-color: hsl(2, 53%, 55%);
    display: none;
    /* opacity:100%; */
}

.stripe{
    width:1%;
    height:100%;
    opacity:1;
}

#stripes{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    flex-wrap:wrap;
    /* justify-content: space-around; */
    opacity:1;
    width:100%;
    height:100%;
}

input[type=range]{
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  border: 2px solid white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgb(52, 52, 52);
  cursor: pointer;
  margin-top: -7px;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: rgb(52, 52, 52);
    border-radius: 1.3px;
    /* border: 0.2px solid #010101; */
  }

  #sidebar{
    position:absolute;
    width:20vw;
    height:20vh;
    border:1px dashed rgb(52, 52, 52);
    border-radius:20px;
    margin:20px;
  }

/* #yellow-filter{
    position:absolute;
    width:76%;
    height:100%;
    /* mix-blend-mode: ; */
    /* background-color:yellow;
}*/

body{
    background-color:#fffdeb;
}

p{
    font-family: "freight-micro-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22pt;
    width:100%;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 1.75rem;
    position:absolute;
    color:rgb(52, 52, 52);
    top:5%;
}